html {
  background-color: black;
  color: white;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

img {
  border: 4px solid black;
}

.layout {
  display: flex;
}

.layout-column {
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
}
